apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service

  template:
    metadata:
      labels:
        app: order-service

    spec:
      containers:
      - name: order-service
        image: akshat004b/order-service:v5
        env:
        - name: USER_SERVICE_URL
          value: "http://user-service:80"
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service:80"
        ports:
        - containerPort: 8000
