apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  type: ClusterIP
  selector:
    app: product-service

  ports:
    - port: 80
      targetPort: 8000
      ports:
    - name: http
      port: 80
      targetPort: 8000

